<!DOCTYPE html>
<html lang="en" ng-app="app">
    <head>
        <meta charset="UTF-8">
        <title>Angular</title>
        <link rel="stylesheet" href="assets/css/normalize.css">
        <link rel="stylesheet" href="assets/css/style.css">
        <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap" rel="stylesheet">
        <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
        <script src="components/home/homeController.js"></script>
    </head>
    <body>
        <div ng-controller="homeController">
            <div class="container">
                <nav class="nav">
                    <ul class="navList">
                        <li>
                            <a href="#" class="navList__item" ng-click="showAddForm()">
                                <i class="fa fa-plus"></i></i>
                                <span class="navList__item__text">Add</span>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="navList__item" ng-click="isDoneFilter()">
                                <i class="fa fa-list-ul"></i>
                                <span class="navList__item__text">All</span>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="navList__item" ng-click="isDoneFilter('inprocess')">
                                <i class="fa fa-spinner"></i>
                                <span class="navList__item__text">In process</span>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="navList__item" ng-click="isDoneFilter(true)">
                                <i class="fa fa-check"></i>
                                <span class="navList__item__text">Done</span>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="navList__item" ng-click="isDoneFilter(false)">
                                <i class="fa fa-times"></i>
                                <span class="navList__item__text">Not done</span>
                            </a>
                        </li>
                    </ul>
                </nav>
                <main class="main">
                    <ul class="todoList">
                        <li ng-repeat="item in items | filter: status" class="todoList__item">
                            <div class="todoList__ItemContainer">
                                <div class="todoList__item__statusContainer">
                                    <div class="todoList__item__status" ng-class="getItemClass(item.isDone)"></div>
                                </div>
                                <div class="todoList__item__block">
                                    <div class="todoList__item__title">{{item.title}}</div>
                                    <div class="todoList__item__description">{{ item.description }}</div>
                                </div>
                                <div class="todoList__item__statusEditContainer" ng-if="item.isDone == false">
                                    <div>
                                        <i class="fa fa-spinner" ng-click="setIsDone(item, 'inProcess')"></i></i>
                                    </div>
                                </div>
                                <div class="todoList__item__statusEditContainer" ng-if="item.isDone == false || item.isDone == 'inProcess'">
                                    <div>
                                        <i class="fa fa-check-circle" ng-click="setIsDone(item, true)"></i>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </main>
                <iv ng-if="isShowAddForm" class="addItemForm">
                    <form ng-submit="submit()">
                        <div class="formItem">
                            <label for="title">Title</label>
                            <div class="formItem__inputContainer">
                                <input type="text" name="title" id="title" ng-model="item.title" required>
                            </div>
                        </div>
                        <div class="formItem">
                            <label for="title">Description</label>
                            <div class="formItem__inputContainer">
                                <input type="text" name="description" id="description" ng-model="item.description" required>
                            </div>
                        </div>
                        <div class="formItem">
                            <div class="formItem__inputContainer">
                                <input type="reset" class="addItemForm__formButton" value="Clear fields">
                                <input type="submit" class="addItemForm__formButton" value="Add">
                            </div>  
                        </div> 
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>