body {
    font-family: 'Roboto', sans-serif;
}

.todoList, .navList {
    list-style: none;
    margin: 0;
    padding: 0;
}

.todoList__item {
    border-bottom: 1px solid #e5e5e5;
    padding: 20px;
}

.todoList__item__title {
    color: #414045;
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 16px;
}

.todoList__item__description {
    color: #b2b2b5;
    font-size: 14px;
}

.todoList__ItemContainer {
    display: flex;
}

.todoList__item__statusContainer {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.todoList__item__statusEditContainer {
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.todoList__item__status {
    display: block;
    width: 10px;
    height: 10px;
    background: #FF4567;
    border-radius: 50%;
}

.todoList__item_done {
    background: #4FDE72;
}

.todoList__item_inProcess {
    background: #FECB04;
}

.todoList__item__block {
    flex: 1;
}

.container {
    display: flex;
    height: 100vh;
    overflow: hidden;
}

.nav {
    background: #242134;
}

.navList__item {
    display: block;
    padding: 20px;
    color: #fff;
    text-decoration: none;
    border-bottom: 1px solid #1C1A28;
}

.navList__item__text {
    display: none;
    margin-left: 20px;
}

.nav:hover .navList__item__text {
    display: inline-block;
}

.nav:hover {
    width: 100%;
    max-width: 250px;
}

.navList__item:hover {
    background: #1C1A28;
}

.main {
    flex: 1;
    overflow: auto;
}

.nav .fa-spinner {
    color: #FECB04;
}

.nav .fa-list-ul {
    color: #696DE2;
}

.nav .fa-check {
    color: #4FDE72;
}

.nav .fa-times {
    color: #FF4567;
}

.todoList__item__statusEditContainer .fa-check-circle, .todoList__item__statusEditContainer .fa-spinner {
    cursor: pointer;
    font-size: 20px;
    color: #b2b2b5;
}

.todoList__item__statusEditContainer .fa-check-circle:hover {
    color: #4FDE72;
}

.todoList__item__statusEditContainer .fa-spinner:hover {
    color: #6B6DD1;
}

.addItemForm {
    width: 500px;
    background: #242134;
}

.formItem {
    padding: 10px;
}

.formItem label {
    color: #fff;
    font-size: 14px;
    display: block;
}

.formItem__inputContainer {
    display: flex;
}

.formItem__inputContainer input {
    flex: 1;
    border: 1px solid #696DE2;
    border-radius: 2px;
    color: #fff;
    background: none;
    padding: 5px;
}

.addItemForm__formButton {
    cursor: pointer;
}

.addItemForm__formButton:hover {
    background: #696DE2;
}

.addItemForm__formButton:not(:first-child) {
    margin-left: 10px;
}